<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Обнаружение логотипа</title>
  
</head>

<body style="background: #9fe0ed;">
 <div class="login">
	<h1>Обнаружение логотипа компании</h1>

      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
     <br>
   <br>  <img src="{{img}}">
   <h4 style="color:Violet;">
   {{ prediction_text }} </h4>

 </div>


</body>
</html>
